.wrapper {
  padding: 100px 0;
  text-align: center;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid var(--secondary-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1250px) {
  /* this is where component specific responsive styles would go */
}


