:root {
  --max-width: 1100px;
  --primary-color: #202020;
  --secondary-color: #eb2328;
  --border-color: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* overwrite colours here for dark more */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body,
a {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

h1 {
  margin: 40px 0;
}
