.episodeLink {
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.episodeLink img {
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
  transition: all 0.17s ease-in-out;
  width: 100%;
  height: auto;
}

.episodeLink:hover img {
  transition: all 0.17s ease-in-out;
  transform: translate3d(0, -10px, 0);
}

.title {
  font-size: 0.9em;
  margin-top: 20px;
  display: inline-block;
  font-weight: bold;
}

@media (max-width: 1250px) {
  /* this is where component specific responsive styles would go */
}
