.header {
  border-bottom: 1px solid var(--border-color);
  background: var(--primary-color);
  padding: 10px;
}

.logo {
  text-align: center;
}

@media (max-width: 1250px) {
  /* this is where component specific responsive styles would go */
}
